<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint
                address="http://localhost:2992/CalculatorService.svc"
                binding="basicHttpBinding"
                contract="ICalculator"
                />
        </client>
    </system.serviceModel>
</configuration>