<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
                <behavior>
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="False"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
